*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}
:root {
    --text-color: #8B0305;
    --text-paragraph: #2C2C2C;
}
header {
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
}
header.sticky {
     background: #fff;
     opacity: 0.95;
     transition: all 0.5s  ;
}
.wrapper__content {
    max-width: 1250px;
    margin: 0 auto;
}
.wrapper__content-aboutus {
    max-width: 1250px;
    margin: 0 auto;
}
.wrapper__content-images {
    max-width: 1250px;
    margin: 0 auto;
}
.wrapper__content-news{ 
    max-width: 1250px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.content__news {
    display: flex;
    margin: 30px 0;
}
.content__news-images {
    width: 420px;
    height: 230px;
    cursor: pointer;
}
.content__news-paragraph {
    margin-left: 6px;
}
.content__news-heading {
    color: var(--text-color);
    font-weight: 600;
    margin-left: 25px;
    cursor: pointer;
}
.content__news-discribe {
    color: var(--text-paragraph);
    margin-top: 10px;
    margin-left: 25px;
}






.wrapper__header {
    display: flex;
    position: relative;
}
.logo__header img {
    width: 90px;
    height: auto;
    margin-right: 200px;
    margin-left: 100px;
}
.meunu__button {
    /* margin-left: 100px; */
}
.main__menu li {
    margin: 0 5px;
}

.main__menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    
}
.main__menu li a {
    text-decoration: none;
    color: #1b1a1a;
    display: block;
    padding: 18px 10px;
    font-size: 15px;
    font-weight: 645;
    text-transform: uppercase;
}
.main__menu li a:hover {
    color: var(--text-color);
}
.main__menu li {
    position: relative;
    
}
.main__menu ul.main__menu--button {
    position: absolute;
    background-color: #fff;
    padding: 15px 0px;
    width: 220px;
    list-style: none;
    display: none;
}
.main__menu  li:hover>ul.main__menu--button {
    display: block;
}
.main__menu ul.main__menu--button li a {
    color: var(--text-color);
    padding: 10px 15px;
    border-bottom: 1px solid rgb(165, 165, 165);

}
.main__menu ul.main__menu--button {
    box-shadow: 0 0 3px rgb(165, 165, 165);
}
.main__menu ul.main__menu--button li:hover>a {
    border-bottom: 1px solid rgb(165, 165, 165);
}
.main__menu ul.main__menu--button li:last-child a {
    border-bottom: none;
}
.main__menu>li>a {
    position: relative;
}
.main__menu>li>a::before {
    content: "";
    width: 0;
    height: 4px;
    background: var(--text-color);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.5s ease-in-out;
    border-radius: 5px;
}
.main__menu>li:hover>a::before {
    width: 100%;
}

.banner {
    background: url(/images/497570b347b4b3eaeaa5-1920x672.jpg);
    min-height: 500px;
    width: 100%;
    background-size: cover;
}
.first__heading>h2 {
    text-align: center;
    color: var(--text-color);
    font-family: ;
    font-weight: 600;
}
span.first__heading-sign {
    color: var(--text-color);
    font-size: 50px;
    font-family: 'Catamaran', sans-serif;
    margin: 0%;
    padding: 0;
    transform: rotate(50deg);
}
span.first__heading-rotate {
    -webkit-transform: rotate(-90deg);
    transform: rotate(350deg);
    color: var(--text-color);
    font-size: 60px;
    font-family: 'Catamaran', sans-serif;
    margin: 0%;
    padding: 0;
    position: relative;
}
.message {
    color: var(--text-color);
    font-size: 30px;
    /* padding: 5px 0; */
    border-top: 5px solid var(--text-color);
    border-bottom: 5px solid var(--text-color);
    font-weight: 700;
    margin-top: 50px;
    padding: 30px 0;
}
.hahaha {
    max-height:  565px;
    display: flex;
    background-image: url(/images/images1142390_IMG_2299.jpg);
    background-size: cover;
    margin-top: 50px;
    margin-bottom: 70px;
}
.hahaha img {
    width: 605px;
    height: 510px;
    margin: 15px 20px;

}
.hahaha__paragraph {
    color: white;
}
.hahaha__paragraph>h2 {
    margin-top: 30px;
}
.hahaha__paragraph>p {
    margin-top: 10px;
    font-size: 18px;
}

.contact {
    color: var(--text-color);
    font-size: 30px;
    /* padding: 5px 0; */
    border-top: 5px solid var(--text-color);
    border-bottom: 5px solid var(--text-color);
    font-weight: 700;
    margin-top: 50px;
    padding: 30px 0;
    
}
.contact__image {
    height: 420px;
    background-size: cover;
    margin: 50px 0;
    /* display: flex; */
    background: url(/images/hv123.jpg);
    background-size: cover;
}
.contact__paragraph {
    color: white;
    text-align: center;
    font-size: 20px;
    width: 70%;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    left: 200px;
    margin-top: 140px;
}
.contact__button {
    padding: 13px 45px;
    background-color: var(--text-color);
    color: white;
    outline: none;
    border: none;
    font-weight: bold;
    position: absolute;
    left: 650px;
    margin-top: 270px;
}
.education {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 100px;
}
.education__images>a>img {
    width: 155px;
    height: 120px;
    margin: 0 150px;
}
.education__images-1>a>img {
    width: 155px;
    height: 165px;
    margin-bottom: -10px;
}
.education__images-2>a>img {
    width: 160px;
    height: 130px;
}






footer {
    margin-top: -5px;
    min-height: 163px;
    /* position: relative; */
    background-color: rgb(139, 3, 5);
    /* margin-top: 1000px; */
    
}
.info__bottom--top{
    color: white;
    margin-left: 105px;
    padding: 20px 0;
}

.info__bottom--bottom {
    min-height: 30px;
    color: white;
    width: 100%;
    /* position: absolute; */
    background-color: rgb(48, 47, 47);
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    padding-bottom: 10px 0;
}
.content__aboutus--image {
    width: 1250px;
    margin-bottom: 30px;
    overflow: hidden;
    cursor: pointer;
    transform: scale(1);
    transition: 0.3s ease-in-out;
    display: block;
}
.content__aboutus--image:hover {
    transform: scale(1.01);
}
.first__heading--aboutus {
    color: var(--text-color);
    margin: 15px 0;
    font-size: 30px;
    font-weight: 500;
}
.first__heading--resident {
    color: var(--text-color);
    margin: 15px 0;
    font-size: 30px;
    font-weight: 500;
}
.conten__aboutus>ul>li {
    margin: 15px 0;
    margin-left: 20px;
}
.conten__aboutus>ul {
    margin-bottom: 40px;
}
.second__heading--resident {
    color: var(--text-color);
    margin: 15px 0;
    font-size: 20px;
    font-weight: 500;
}
.third__heading--resident {
    color: var(--text-color);
    margin: 15px 0;
    font-size: 30px;
    font-weight: 500;
    margin-top: 40px;
    margin-bottom: 100px;
}

.second__heading--aboutus {
    color: var(--text-color);
    margin: 15px 0;
    font-size: 20px;
    font-weight: 600;
}
.first__paragraph--aboutus {
    margin-bottom: 20px;
    
}
.line__aboutus {
    margin: 20px 0;
    height: 2px;
    background-color:var(--text-color);
    opacity: 0.7;
}
.first__paragraph--aboutus {
    font-size: 18px;
    color: var(--text-paragraph);
    line-height: 27px;
}
.video__aboutus>iframe {
    width: 1250px;
    height: 500px;
    margin-bottom: 100px;
    margin-top: 20px;
}
.heading__images {
    color: var(--text-color);
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    margin: 30px 0;
}
.wrapper__content-images {
    display: flex;
    flex-wrap: wrap;
}
.imagges__box-content>img {
    width: 390px;
    height: 205px;
    border-radius: 10px;
    margin: 0 10px;
    cursor: pointer;
}
.images__box-describe>h3 {
    color: var(--text-color);
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
}
.wrapper__content-images2 {
    margin-top: 30px;
    margin-bottom: 100px;
}
.wrapper__feedback {
    background-color: var(--text-color);
    width: 1250px;
    height: 450px;
    border-radius: 20px;
    margin-bottom: 100px;
    display: flex;
    position: relative;
}
.feedback__img {
    position: absolute;
    left: 70px;
    bottom: 0;
    height: 500px;
}
.feedback__heading {
    color: white;
    margin-left: 400px;
    margin-top: 30px;
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 0.06cm;
}
.feedback__paragraph { 
    color: white;
    margin-left: 400px;
    margin-top: 20px;
    margin-right: 40px;
    font-size: 18px ;
    
}
.feedback__secondheading {
    color: white;
    margin-left: 400px;
    margin-top: 30px;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.06cm;
}
.feedback__content>ul>li {
    color: white;
    margin-left: 430px;
    margin-top: 20px;
    margin-right: 40px;
    font-size: 16px ;
    padding-bottom: 5px;
    border-bottom: 1px solid white;

}
.admission__decription {
    background-color: #f6f6f6;
    padding: 30px 0;
}
.admission__decription>h2 {
    color: var(--text-paragraph);
    margin-left: 100px;
    font-size: 18px;
    font-weight: 500;
}
.admission__decription>p {
    color: var(--text-paragraph);
    margin-left: 100px;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
}
.target__admission {
    margin: 30px 0;
}

.target__admission>img {
    width: 1450px;
}

.form__group {
    background-color: #f6f6f6;
    justify-content: center;
    align-items: center;
    height: 830px;
    display: flex;
    
}
.form__heading {
    color: var(--text-color);
    position: absolute;
    left: 100px;
    bottom: -1000px;
}
.form__paragraph {  
    color: var(--text-paragraph);
    position: absolute;
    left: 100px;
    bottom: -1040px;
    font-size: 20px;
}
.form__control {
   
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}
.form__input {
    height: 30px;
    width: 500px;
    border: none;
    outline: none;
    box-shadow: 0 0 5px #a5a4a4;
    margin: 5px 0;
}
.form__input:hover {
    box-shadow: none;
    outline: 0.001px solid #dddbdb;

}
.form__lable {
   font-weight: 600;

}
.form__button {
   background-color: var(--text-color);
   color: white;
   padding: 7px 30px;
   border: none;
   font-size: 18px;
   margin-left:365px;
}
/* .contact__admission {
    height: 80px;
    justify-content: center;
    align-items: center;
} */
.contact__admission>p {
    text-align: center;
    font-size: 17px;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    font-weight: 400;

}
.map>iframe {
    width: 100%;
    height: 450px;
    margin-bottom: 10px;
}